.container {
    height: 100vh;
    
}

.projectsContainer {
    display: flex;
    height: 100%;

}

.projet {
    display: flex;
    flex-direction: column; 
    justify-content: center;

    margin-right: 3vw;
    width: 50%;
}

.layout {
    display: flex;
    flex-direction: column;
    margin-left: 5.75vw;
    height: 100%;
}

.title {
    margin-top: 5vh;
}

.projetName {
    margin-top: 2vh;
}