.container {
    height: 100vh;
    background-color: grey;
    display: flex;
    flex-direction: column;
}

.projectsContainer {
    display: flex;
}

.projet {
    display: flex;
    flex-direction: column; 
}